###Creating the Spark session to perform all operations

In [0]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
import requests

spark = SparkSession.builder.getOrCreate()

###Reverting to the legacy Spark time parsing to handle the inconsistent publish date formats

In [0]:
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

###Reading the JSON document straight out of S3 using inbuilt PySpark functions and checking the record count

In [0]:
df = spark.read.json("s3a://csparkdata/ol_cdump.json")

In [0]:
df.count()

Out[7]: 148163

In [0]:
df.printSchema()

root
 |-- alternate_names: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- authors: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- author: struct (nullable = true)
 |    |    |    |-- key: string (nullable = true)
 |    |    |-- key: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |-- bio: string (nullable = true)
 |-- birth_date: string (nullable = true)
 |-- by_statement: string (nullable = true)
 |-- contributions: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- contributors: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- role: string (nullable = true)
 |-- copyright_date: string (nullable = true)
 |-- covers: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- created: struct (nullable = true)
 |    |-- type: string (nullable = true)
 |    |-- value: string (nullable = true)
 |-- death_date: string (nullable = true)
 |-- description: string (nullable = true)
 |-- dewey_decimal_class: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- dewey_number: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- download_url: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- edition_name: string (nullable = true)
 |-- excerpts: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- excerpt: struct (nullable = true)
 |    |    |    |-- type: string (nullable = true)
 |    |    |    |-- value: string (nullable = true)
 |    |    |-- page: string (nullable = true)
 |-- first_publish_date: string (nullable = true)
 |-- first_sentence: string (nullable = true)
 |-- full_title: string (nullable = true)
 |-- fuller_name: string (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- ia_box_id: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- ia_loaded_id: string (nullable = true)
 |-- identifiers: struct (nullable = true)
 |    |-- amazon: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- amazon.co.uk_asin: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- goodreads: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- librarything: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |-- isbn_10: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- isbn_13: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- isbn_invalid: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- isbn_odd_length: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- key: string (nullable = true)
 |-- last_modified: struct (nullable = true)
 |    |-- type: string (nullable = true)
 |    |-- value: string (nullable = true)
 |-- latest_revision: long (nullable = true)
 |-- lc_classifications: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- lccn: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- links: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- title: string (nullable = true)
 |    |    |-- type: struct (nullable = true)
 |    |    |    |-- key: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |-- location: string (nullable = true)
 |-- name: string (nullable = true)
 |-- notes: string (nullable = true)
 |-- number_of_pages: long (nullable = true)
 |-- ocaid: string (nullable = true)
 |-- oclc_number: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- oclc_numbers: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- other_titles: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- pagination: string (nullable = true)
 |-- personal_name: string (nullable = true)
 |-- photos: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- physical_dimensions: string (nullable = true)
 |-- physical_format: string (nullable = true)
 |-- publish_country: string (nullable = true)
 |-- publish_date: string (nullable = true)
 |-- publish_places: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- publishers: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- purchase_url: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- revision: long (nullable = true)
 |-- series: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- source_records: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- subject_people: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- subject_place: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- subject_places: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- subject_time: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- subject_times: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- subjects: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- subtitle: string (nullable = true)
 |-- table_of_contents: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- class: string (nullable = true)
 |    |    |-- label: string (nullable = true)
 |    |    |-- level: long (nullable = true)
 |    |    |-- pagenum: string (nullable = true)
 |    |    |-- title: string (nullable = true)
 |    |    |-- type: string (nullable = true)
 |    |    |-- value: string (nullable = true)
 |-- title: string (nullable = true)
 |-- title_prefix: string (nullable = true)
 |-- type: struct (nullable = true)
 |    |-- key: string (nullable = true)
 |-- uri_descriptions: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- uris: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- url: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- website: string (nullable = true)
 |-- weight: string (nullable = true)
 |-- work_title: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- work_titles: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- works: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- key: string (nullable = true)

###Checking how many author names are not populated

In [0]:
spark.sql('''
select 
  case when name is null then "null"
  else "not null"
  end as author_name_status,
  count(*)
  from df
  group by 1
''').show()

+------------------+--------+
|author_name_status|count(1)|
+------------------+--------+
|          not null|     339|
|              null|  147824|
+------------------+--------+

###Parsing the inconsistent publish dates

In [0]:
df = df.withColumn("publish_date", f.regexp_replace(f.col("publish_date"), "([0-9])th", "$1"))

In [0]:
df = df.withColumn("publish_date_formatted", f.expr('''
case
    when lower(publish_date) like "%u" then null
    when to_date(publish_date, "dd MMM yyyy") is not null and to_date(publish_date, "dd MMM yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "dd MMM yyyy")
    when to_date(publish_date, "dd/MM/yyyy") is not null and to_date(publish_date, "dd/MM/yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "dd/MM/yyyy")
    when to_date(publish_date, "MM/dd/yyyy") is not null and to_date(publish_date, "MM/dd/yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "MM/dd/yyyy")
    when to_date(publish_date, "MM-dd-yyyy") is not null and to_date(publish_date, "MM-dd-yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "MM-dd-yyyy")
    when to_date(publish_date, "MM.dd.yyyy") is not null and to_date(publish_date, "MM.dd.yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "MM.dd.yyyy")
    when to_date(publish_date, "MM/dd/yy") is not null and to_date(publish_date, "MM/dd/yy") <= to_date(current_timestamp()) then to_date(publish_date, "MM/dd/yy")
    when to_date(publish_date, "MM-dd-yy") is not null and to_date(publish_date, "MM-dd-yy") <= to_date(current_timestamp()) then to_date(publish_date, "MM-dd-yy")
    when to_date(publish_date, "MM/yyyy") is not null and to_date(publish_date, "MM/yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "MM/yyyy")
    when to_date(publish_date, "MMMM d, yyyy") is not null and to_date(publish_date, "MMMM d, yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "MMMM d, yyyy")
    when to_date(publish_date, "MMMM d,yy") is not null and to_date(publish_date, "MMMM d,yy") <= to_date(current_timestamp()) then to_date(publish_date, "MMMM d,yy")
    when to_date(publish_date, "MMMM yyyy") is not null and to_date(publish_date, "MMMM yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "MMMM yyyy")
    when to_date(publish_date, "MMMM, yyyy") is not null and to_date(publish_date, "MMMM, yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "MMMM, yyyy")
    when to_date(publish_date, "yyyy") is not null and to_date(publish_date, "yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "yyyy")
    else null
end
'''))

In [0]:
df.createOrReplaceTempView("df")

###Creating publish_year column

In [0]:
df_w_pub_year = spark.sql('''
  select *,
  case 
    when publish_date_formatted is not null then year(publish_date_formatted) 
    else 0000
  end as publish_year
  from df
''')

In [0]:
df_w_pub_year.createOrReplaceTempView("df_pub_year")

###Applying data cleanup filters

In [0]:
df_cleaned = spark.sql('''
  select * from df_pub_year 
  where number_of_pages > 20
  and publish_year >= 1950
  and publish_date_formatted is not null
  and key is not null
  and authors is not null
''')

In [0]:
df_cleaned.count()

Out[22]: 77817

###Creating a udf to parse the author keys present in the data as a list of tuples, in a more readable format

In [0]:
def parse_author_keys(author_keys):
  return ",".join([x[1].split("/")[2] for x in author_keys])

parse_author_keys_udf = f.udf(parse_author_keys)
spark.udf.register("parse_author_keys_udf", parse_author_keys)

Out[23]: <function __main__.parse_author_keys(author_keys)>

###Creating a udf to parse the book keys present in the data in a more readable format

In [0]:
def parse_book_key(book_key):
  return book_key.split("/")[2]

parse_book_key_udf = f.udf(parse_book_key)
spark.udf.register("parse_book_key_udf", parse_book_key)

Out[24]: <function __main__.parse_book_key(book_key)>

###Creating a udf to make a REST call to the OpenLibrary API to fetch the correct author names for the corresponding author keys

In [0]:
def get_author_name(author_key):
  url = f"https://openlibrary.org/authors/{author_key}.json"
  try:
    r = requests.get(url = url)
    author_name = r.json()["name"]
    return author_name
  except:
    return None
  
get_author_name_udf = f.udf(get_author_name)
spark.udf.register("get_author_name_udf", get_author_name)

Out[25]: <function __main__.get_author_name(author_key)>

In [0]:
df_cleaned = df_cleaned.withColumn("author_keys", parse_author_keys_udf(f.col("authors")))

In [0]:
df_cleaned = df_cleaned.withColumn("book_key", parse_book_key_udf(f.col("key")))

In [0]:
df_cleaned.createOrReplaceTempView("data")

###Q1: Get the book with the most pages

In [0]:
ques1 = spark.sql('''
  select distinct book_key, title as book_title, number_of_pages from
  (select *, dense_rank() over (order by number_of_pages desc) as page_rank from data)
  where page_rank = 1
''').toPandas()

In [0]:
ques1

,book_key,book_title,number_of_pages
0,OL22855337M,Nihon shokuminchi kenchikuron,48418

###Q2: Find the top 5 genres with most books

In [0]:
ques2_inter = spark.sql('''
  select *, explode(genres) as genre from data
''')

ques2_inter = ques2_inter.withColumn("genre", f.regexp_replace(f.col("genre"), "\.$", ""))

ques2_inter.createOrReplaceTempView("ques2_inter")

ques2 = spark.sql('''
  select * from (
  select rank() over (order by books desc) as genre_rank, genre, books from
  (select genre, count(distinct key) as books from ques2_inter group by 1)
  )
  order by genre_rank
''').toPandas()

In [0]:
ques2[ques2.genre_rank <= 5]

,genre_rank,genre,books
0,1,Fiction,3415
1,2,Biography,2746
2,3,Juvenile literature,1677
3,4,Exhibitions,1150
4,5,Juvenile fiction,693

###Q3: Retrieve the top 5 authors who (co-)authored the most books

In [0]:
ques3_inter = spark.sql('''
  select *, explode(split(author_keys, ",")) as author_key from data
''')

ques3_inter.createOrReplaceTempView("ques3_inter")

ques3 = spark.sql('''
  select author_rank, author_key, author_name_data, get_author_name_udf(author_key) as author_name_site, books from (
  select *, rank() over (order by books desc) as author_rank from
  (select author_key, name as author_name_data, count(distinct key) as books from ques3_inter group by 1,2)
  )
  where author_rank <= 5
  order by author_rank
''').toPandas()

In [0]:
ques3

,author_rank,author_key,author_name_data,author_name_site,books
0,1,OL1224818A,None,California. Dept. of Water Resources.,236
1,2,OL4283462A,None,Jirō Akagawa,116
2,3,OL785848A,None,John Harold Haynes,106
3,4,OL539875A,None,Philip M. Parker,90
4,5,OL1926829A,None,San Francisco (Calif.). Dept. of City Planning.,80

###Per publish year, get the number of authors that published at least one book

In [0]:
ques4 = spark.sql('''
  select publish_year, count(distinct author_key) as authors from
  (select *, explode(split(author_keys, ",")) as author_key from data)
  group by 1
  order by 1
''').toPandas()

In [0]:
pd.set_option("display.max_rows", None)
ques4

,publish_year,authors
0,1950,614
1,1951,648
2,1952,601
3,1953,601
4,1954,645
5,1955,589
6,1956,638
7,1957,706
8,1958,755
9,1959,830
10,1960,924
11,1961,1027
12,1962,1066
13,1963,1099
14,1964,1196
15,1965,1251
16,1966,1204
17,1967,1244
18,1968,1088
19,1969,1211
20,1970,1142
21,1971,1073
22,1972,1021
23,1973,1140
24,1974,1105
25,1975,990
26,1976,893
27,1977,712
28,1978,748
29,1979,825
30,1980,868
31,1981,838
32,1982,937
33,1983,984
34,1984,1025
35,1985,1021
36,1986,1098
37,1987,1170
38,1988,1247
39,1989,1409
40,1990,1630
41,1991,1590
42,1992,1795
43,1993,1858
44,1994,2137
45,1995,2357
46,1996,1934
47,1997,2212
48,1998,2020
49,1999,1334
50,2000,1069
51,2001,853
52,2002,1006
53,2003,1308
54,2004,1208
55,2005,1289
56,2006,1310
57,2007,2360
58,2008,3828
59,2009,172
60,2010,4
61,2011,1

###Q5: Find the number of authors and number of books published per month for years between 1950 and 1970

In [0]:
ques5 = spark.sql('''
  select date_format(publish_date_formatted, "yyyy-MM") as publish_year_month, count(distinct author_key) as authors, count(distinct key) as books from
  (select *, explode(split(author_keys, ",")) as author_key from data)
  where publish_year >= 1950 and publish_year <= 1970
  group by 1
  order by 1
''').toPandas()

In [0]:
ques5

,publish_year_month,authors,books
0,1950-01,614,647
1,1951-01,648,676
2,1952-01,601,633
3,1953-01,600,622
4,1953-10,1,1
5,1954-01,644,666
6,1954-06,1,1
7,1955-01,588,611
8,1955-06,1,1
9,1956-01,638,664
10,1957-01,705,740
11,1957-09,1,1
12,1958-01,753,789
13,1958-06,2,1
14,1959-01,830,879
15,1960-01,922,963
16,1960-06,2,2
17,1961-01,1026,1074
18,1961-10,1,1
19,1962-01,1064,1128
20,1962-12,2,1
21,1963-01,1099,1182
22,1963-07,1,1
23,1964-01,1194,1268
24,1964-05,1,1
25,1964-06,1,1
26,1965-01,1248,1347
27,1965-06,3,1
28,1966-01,1203,1298
29,1966-11,1,1
30,1967-01,1243,1323
31,1967-06,1,1
32,1968-01,1082,1159
33,1968-05,1,1
34,1968-06,4,3
35,1968-07,1,1
36,1969-01,1210,1285
37,1969-06,2,1
38,1970-01,1139,1227
39,1970-06,3,2