In [0]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
import requests

In [0]:
spark = SparkSession.builder.getOrCreate()
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

In [0]:
df = spark.read.json("s3a://csparkdata/ol_cdump.json")

In [0]:
df = df.withColumn("publish_date", f.regexp_replace(f.col("publish_date"), "([0-9])th", "$1"))

In [0]:
df = df.withColumn("publish_date_formatted", f.expr('''
case
    when lower(publish_date) like "%u" then null
    when to_date(publish_date, "dd MMM yyyy") is not null and to_date(publish_date, "dd MMM yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "dd MMM yyyy")
    when to_date(publish_date, "dd/MM/yyyy") is not null and to_date(publish_date, "dd/MM/yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "dd/MM/yyyy")
    when to_date(publish_date, "MM/dd/yyyy") is not null and to_date(publish_date, "MM/dd/yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "MM/dd/yyyy")
    when to_date(publish_date, "MM-dd-yyyy") is not null and to_date(publish_date, "MM-dd-yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "MM-dd-yyyy")
    when to_date(publish_date, "MM.dd.yyyy") is not null and to_date(publish_date, "MM.dd.yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "MM.dd.yyyy")
    when to_date(publish_date, "MM/dd/yy") is not null and to_date(publish_date, "MM/dd/yy") <= to_date(current_timestamp()) then to_date(publish_date, "MM/dd/yy")
    when to_date(publish_date, "MM-dd-yy") is not null and to_date(publish_date, "MM-dd-yy") <= to_date(current_timestamp()) then to_date(publish_date, "MM-dd-yy")
    when to_date(publish_date, "MM/yyyy") is not null and to_date(publish_date, "MM/yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "MM/yyyy")
    when to_date(publish_date, "MMMM d, yyyy") is not null and to_date(publish_date, "MMMM d, yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "MMMM d, yyyy")
    when to_date(publish_date, "MMMM d,yy") is not null and to_date(publish_date, "MMMM d,yy") <= to_date(current_timestamp()) then to_date(publish_date, "MMMM d,yy")
    when to_date(publish_date, "MMMM yyyy") is not null and to_date(publish_date, "MMMM yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "MMMM yyyy")
    when to_date(publish_date, "MMMM, yyyy") is not null and to_date(publish_date, "MMMM, yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "MMMM, yyyy")
    when to_date(publish_date, "yyyy") is not null and to_date(publish_date, "yyyy") <= to_date(current_timestamp()) then to_date(publish_date, "yyyy")
    else null
end
'''))

In [0]:
df.createOrReplaceTempView("df")

In [0]:
df_w_pub_year = spark.sql('''
  select *,
  case 
    when publish_date_formatted is not null then year(publish_date_formatted) 
    else 0000
  end as publish_year
  from df
''')

In [0]:
df_w_pub_year.createOrReplaceTempView("df_pub_year")

In [0]:
df_cleaned = spark.sql('''
  select * from df_pub_year 
  where title is not null
  and lower(title) not like "%no title exists%"
  and number_of_pages > 20
  and publish_year > 1950
  and publish_date_formatted is not null
  and key is not null
  and authors is not null
''')

In [0]:
def parse_author_keys(author_keys):
  return ",".join([x[1].split("/")[2] for x in author_keys])

parse_author_keys_udf = f.udf(parse_author_keys)
spark.udf.register("parse_author_keys_udf", parse_author_keys)

Out[148]: <function __main__.parse_author_keys(author_keys)>

In [0]:
def parse_book_key(book_key):
  return book_key.split("/")[2]

parse_book_key_udf = f.udf(parse_book_key)
spark.udf.register("parse_book_key_udf", parse_book_key)

Out[149]: <function __main__.parse_book_key(book_key)>

In [0]:
def get_author_name(author_key):
  url = f"https://openlibrary.org/authors/{author_key}.json"
  try:
    r = requests.get(url = url)
    author_name = r.json()["name"]
    return author_name
  except:
    return None
  
get_author_name_udf = f.udf(get_author_name)
spark.udf.register("get_author_name_udf", get_author_name)

Out[150]: <function __main__.get_author_name(author_key)>

In [0]:
df_cleaned = df_cleaned.withColumn("author_keys", parse_author_keys_udf(f.col("authors")))

In [0]:
df_cleaned = df_cleaned.withColumn("book_key", parse_book_key_udf(f.col("key")))

In [0]:
df_cleaned.createOrReplaceTempView("data")

In [0]:
ques1 = spark.sql('''
  select distinct book_key, title as book_title, number_of_pages from
  (select *, dense_rank() over (order by number_of_pages desc) as page_rank from data)
  where page_rank = 1
''').toPandas()

In [0]:
ques1

,book_key,book_title,number_of_pages
0,OL22855337M,Nihon shokuminchi kenchikuron,48418

In [0]:
ques2_inter = spark.sql('''
  select *, explode(genres) as genre from data
''')

ques2_inter = ques2_inter.withColumn("genre", f.regexp_replace(f.col("genre"), "\.$", ""))

ques2_inter.createOrReplaceTempView("ques2_inter")

ques2 = spark.sql('''
  select * from (
  select rank() over (order by books desc) as genre_rank, genre, books from
  (select genre, count(distinct key) as books from ques2_inter group by 1)
  )
  order by genre_rank
''').toPandas()

In [0]:
ques2[ques2.genre_rank <= 5]

,genre_rank,genre,books
0,1,Fiction,3392
1,2,Biography,2739
2,3,Juvenile literature,1675
3,4,Exhibitions,1148
4,5,Juvenile fiction,689

In [0]:
ques3_inter = spark.sql('''
  select *, explode(split(author_keys, ",")) as author_key from data
''')

ques3_inter.createOrReplaceTempView("ques3_inter")

ques3 = spark.sql('''
  select author_rank, author_key, author_name_data, get_author_name_udf(author_key) as author_name_site, books from (
  select *, rank() over (order by books desc) as author_rank from
  (select author_key, name as author_name_data, count(distinct key) as books from ques3_inter group by 1,2)
  )
  where author_rank <= 5
  order by author_rank
''').toPandas()

In [0]:
ques3

,author_rank,author_key,author_name_data,author_name_site,books
0,1,OL1224818A,None,California. Dept. of Water Resources.,236
1,2,OL4283462A,None,Jirō Akagawa,116
2,3,OL785848A,None,John Harold Haynes,106
3,4,OL539875A,None,Philip M. Parker,90
4,5,OL1926829A,None,San Francisco (Calif.). Dept. of City Planning.,80

In [0]:
ques4 = spark.sql('''
  select publish_year, count(distinct author_key) as authors from
  (select *, explode(split(author_keys, ",")) as author_key from data)
  group by 1
  order by 1
''').toPandas()

In [0]:
pd.set_option("display.max_rows", None)
ques4

,publish_year,authors
0,1951,648
1,1952,601
2,1953,601
3,1954,644
4,1955,589
5,1956,638
6,1957,706
7,1958,755
8,1959,829
9,1960,923
10,1961,1026
11,1962,1066
12,1963,1099
13,1964,1195
14,1965,1250
15,1966,1203
16,1967,1243
17,1968,1088
18,1969,1211
19,1970,1142
20,1971,1072
21,1972,1021
22,1973,1140
23,1974,1104
24,1975,990
25,1976,893
26,1977,710
27,1978,748
28,1979,825
29,1980,866
30,1981,838
31,1982,936
32,1983,984
33,1984,1023
34,1985,1021
35,1986,1095
36,1987,1168
37,1988,1244
38,1989,1407
39,1990,1628
40,1991,1588
41,1992,1794
42,1993,1855
43,1994,2134
44,1995,2354
45,1996,1933
46,1997,2210
47,1998,2020
48,1999,1333
49,2000,1068
50,2001,851
51,2002,1004
52,2003,1305
53,2004,1203
54,2005,1289
55,2006,1310
56,2007,2360
57,2008,3828
58,2009,172
59,2010,4
60,2011,1

In [0]:
ques5 = spark.sql('''
  select date_format(publish_date_formatted, "yyyy-MM") as publish_year_month, count(distinct author_key) as authors, count(distinct key) as books from
  (select *, explode(split(author_keys, ",")) as author_key from data)
  group by 1
  order by 1
''').toPandas()

In [0]:
ques5

,publish_year_month,authors,books
0,1951-01,648,676
1,1952-01,601,633
2,1953-01,600,622
3,1953-10,1,1
4,1954-01,643,665
5,1954-06,1,1
6,1955-01,588,611
7,1955-06,1,1
8,1956-01,638,664
9,1957-01,705,740
10,1957-09,1,1
11,1958-01,753,789
12,1958-06,2,1
13,1959-01,829,878
14,1960-01,921,962
15,1960-06,2,2
16,1961-01,1025,1073
17,1961-10,1,1
18,1962-01,1064,1128
19,1962-12,2,1
20,1963-01,1099,1182
21,1963-07,1,1
22,1964-01,1193,1267
23,1964-05,1,1
24,1964-06,1,1
25,1965-01,1247,1346
26,1965-06,3,1
27,1966-01,1202,1297
28,1966-11,1,1
29,1967-01,1242,1322
30,1967-06,1,1
31,1968-01,1082,1159
32,1968-05,1,1
33,1968-06,4,3
34,1968-07,1,1
35,1969-01,1210,1285
36,1969-06,2,1
37,1970-01,1139,1227
38,1970-06,3,2
39,1971-01,1069,1135
40,1971-06,1,1
41,1971-07,1,1
42,1971-10,1,1
43,1972-01,1011,1082
44,1972-03,1,1
45,1972-05,2,2
46,1972-06,6,4
47,1972-07,1,1
48,1972-11,1,1
49,1973-01,1135,1218
50,1973-06,2,1
51,1973-07,3,2
52,1974-01,1095,1199
53,1974-02,1,1
54,1974-04,1,1
55,1974-06,3,3
56,1974-07,1,1
57,1974-10,3,3
58,1974-11,1,1
59,1975-01,985,1050
60,1975-04,1,1
61,1975-06,2,2
62,1975-12,2,2
63,1976-01,888,962
64,1976-02,1,1
65,1976-06,3,3
66,1976-12,1,1
67,1977-01,705,755
68,1977-06,2,2
69,1977-07,1,1
70,1977-08,2,2
71,1978-01,737,791
72,1978-02,1,1
73,1978-03,2,1
74,1978-04,1,1
75,1978-05,1,1
76,1978-06,3,3
77,1978-09,1,1
78,1978-10,1,1
79,1978-11,1,1
80,1979-01,815,851
81,1979-06,3,2
82,1979-07,1,1
83,1979-08,1,1
84,1979-09,2,2
85,1979-10,4,3
86,1979-11,1,1
87,1980-01,850,925
88,1980-03,1,1
89,1980-04,1,1
90,1980-06,6,6
91,1980-09,1,1
92,1980-10,6,4
93,1980-12,1,1
94,1981-01,818,875
95,1981-02,3,3
96,1981-06,6,6
97,1981-07,1,1
98,1981-08,2,1
99,1981-09,1,1
100,1981-10,2,2
101,1981-11,3,3
102,1981-12,2,2
103,1982-01,919,971
104,1982-03,1,1
105,1982-05,1,1
106,1982-06,8,5
107,1982-07,1,1
108,1982-08,3,3
109,1982-10,1,1
110,1982-12,3,3
111,1983-01,969,1047
112,1983-02,2,2
113,1983-04,6,5
114,1983-06,1,1
115,1983-08,1,1
116,1983-10,2,2
117,1983-12,3,3
118,1984-01,1010,1105
119,1984-03,1,1
120,1984-04,2,2
121,1984-09,4,3
122,1984-10,3,2
123,1984-11,3,2
124,1985-01,994,1073
125,1985-03,2,2
126,1985-04,3,2
127,1985-06,3,2
128,1985-07,6,6
129,1985-08,2,1
130,1985-09,2,2
131,1985-10,2,1
132,1985-11,2,1
133,1985-12,5,3
134,1986-01,1078,1162
135,1986-02,2,2
136,1986-06,4,3
137,1986-08,3,2
138,1986-09,4,3
139,1986-10,2,2
140,1986-11,2,2
141,1987-01,1152,1278
142,1987-02,4,2
143,1987-04,8,5
144,1987-07,1,1
145,1987-10,1,1
146,1987-11,1,1
147,1987-12,1,1
148,1988-01,1213,1301
149,1988-02,2,1
150,1988-03,6,5
151,1988-04,1,1
152,1988-05,3,1
153,1988-07,2,1
154,1988-08,4,4
155,1988-09,3,1
156,1988-10,6,3
157,1988-11,1,1
158,1988-12,3,2
159,1989-01,1376,1542
160,1989-02,2,1
161,1989-03,7,5
162,1989-04,1,1
163,1989-05,5,4
164,1989-06,2,2
165,1989-07,5,3
166,1989-08,3,3
167,1989-09,4,4
168,1989-12,2,2
169,1990-01,1599,1831
170,1990-02,2,2
171,1990-04,1,1
172,1990-05,6,5
173,1990-06,1,1
174,1990-07,1,2
175,1990-08,4,4
176,1990-09,4,4
177,1990-10,6,5
178,1990-12,4,3
179,1991-01,1547,1692
180,1991-02,4,3
181,1991-03,3,2
182,1991-04,3,1
183,1991-05,8,7
184,1991-06,6,6
185,1991-07,3,3
186,1991-08,2,2
187,1991-09,3,2
188,1991-10,4,3
189,1991-11,2,2
190,1991-12,3,2
191,1992-01,1752,1955
192,1992-02,3,3
193,1992-03,6,5
194,1992-04,1,1
195,1992-05,2,2
196,1992-06,5,4
197,1992-07,7,5
198,1992-08,1,1
199,1992-09,6,5
200,1992-10,4,4
201,1992-11,4,4
202,1992-12,6,6
203,1993-01,1815,2061
204,1993-02,4,3
205,1993-03,6,5
206,1993-04,2,2
207,1993-06,3,3
208,1993-07,2,2
209,1993-08,3,3
210,1993-09,2,2
211,1993-10,12,9
212,1993-11,2,2
213,1993-12,4,3
214,1994-01,2093,2394
215,1994-02,3,3
216,1994-03,7,6
217,1994-04,2,2
218,1994-05,3,3
219,1994-06,5,5
220,1994-07,3,4
221,1994-08,2,2
222,1994-09,5,5
223,1994-10,9,6
224,1994-11,3,2
225,1995-01,2305,2647
226,1995-02,4,4
227,1995-03,8,4
228,1995-04,7,6
229,1995-05,5,4
230,1995-06,5,5
231,1995-07,2,1
232,1995-08,2,2
233,1995-09,3,3
234,1995-10,6,4
235,1995-11,4,2
236,1995-12,6,5
237,1996-01,1900,2171
238,1996-02,1,1
239,1996-03,8,6
240,1996-04,2,2
241,1996-06,9,6
242,1996-07,5,3
243,1996-08,2,2
244,1996-09,4,4
245,1996-10,1,1
246,1996-11,2,1
247,1996-12,1,1
248,1997-01,2121,2491
249,1997-02,6,6
250,1997-03,6,5
251,1997-04,11,9
252,1997-05,6,6
253,1997-06,10,9
254,1997-07,7,7
255,1997-08,8,4
256,1997-09,11,10
257,1997-10,8,8
258,1997-11,8,8
259,1997-12,13,11
260,1998-01,1941,2382
261,1998-02,12,9
262,1998-03,14,11
263,1998-04,10,6
264,1998-05,7,4
265,1998-06,3,3
266,1998-07,4,3
267,1998-08,4,3
268,1998-09,6,5
269,1998-10,13,9
270,1998-11,11,6
271,1998-12,5,2
272,1999-01,1244,1453
273,1999-02,6,3
274,1999-03,11,7
275,1999-04,8,5
276,1999-05,11,6
277,1999-06,8,5
278,1999-07,4,2
279,1999-08,9,7
280,1999-09,8,3
281,1999-10,10,5
282,1999-11,6,4
283,1999-12,15,8
284,2000-01,970,1074
285,2000-02,7,4
286,2000-03,7,5
287,2000-04,15,10
288,2000-05,6,4
289,2000-06,14,10
290,2000-07,8,5
291,2000-08,8,4
292,2000-09,8,6
293,2000-10,6,4
294,2000-11,11,7
295,2000-12,16,9
296,2001-01,761,835
297,2001-02,6,4
298,2001-03,7,4
299,2001-04,8,5
300,2001-05,21,17
301,2001-06,5,3
302,2001-07,12,11
303,2001-08,3,3
304,2001-09,13,7
305,2001-10,15,11
306,2001-11,14,10
307,2001-12,1,1
308,2002-01,913,978
309,2002-02,6,5
310,2002-03,7,6
311,2002-04,7,4
312,2002-05,19,12
313,2002-06,2,3
314,2002-07,11,7
315,2002-08,14,10
316,2002-09,11,11
317,2002-10,11,7
318,2002-11,4,4
319,2002-12,5,3
320,2003-01,1233,1371
321,2003-02,2,2
322,2003-03,8,6
323,2003-04,3,3
324,2003-05,3,3
325,2003-06,9,8
326,2003-07,5,5
327,2003-08,7,7
328,2003-09,3,2
329,2003-10,9,9
330,2003-11,11,10
331,2003-12,13,12
332,2004-01,1082,1211
333,2004-02,18,17
334,2004-03,16,16
335,2004-04,12,13
336,2004-05,11,11
337,2004-06,9,9
338,2004-07,10,9
339,2004-08,10,10
340,2004-09,7,6
341,2004-10,10,10
342,2004-11,15,14
343,2004-12,8,4
344,2005-01,1155,1237
345,2005-02,5,5
346,2005-03,11,11
347,2005-04,18,18
348,2005-05,13,12
349,2005-06,15,15
350,2005-07,10,10
351,2005-08,21,20
352,2005-09,10,10
353,2005-10,18,16
354,2005-11,7,7
355,2005-12,14,16
356,2006-01,1165,1227
357,2006-02,12,41
358,2006-03,6,7
359,2006-04,18,16
360,2006-05,17,65
361,2006-06,11,10
362,2006-07,8,8
363,2006-08,16,13
364,2006-09,16,21
365,2006-10,19,17
366,2006-11,18,19
367,2006-12,8,8
368,2007-01,2252,2387
369,2007-02,8,7
370,2007-03,20,18
371,2007-04,14,13
372,2007-05,14,15
373,2007-06,14,14
374,2007-07,17,16
375,2007-08,2,2
376,2007-09,13,11
377,2007-10,7,6
378,2008-01,3808,4085
379,2008-02,2,1
380,2008-04,1,1
381,2008-05,1,1
382,2008-08,1,1
383,2008-09,2,2
384,2008-10,4,4
385,2008-11,3,3
386,2008-12,9,10
387,2009-01,169,195
388,2009-02,1,1
389,2009-03,1,1
390,2009-04,1,1
391,2009-12,1,1
392,2010-01,4,2
393,2011-01,1,1